################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkflowExplorerPlugin/obj/Debug
/WorkflowExplorerPlugin/bin/Debug
/WorkflowExplorerPlugin/.vs/WorkflowExplorerPlugin/v15
